* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: aliceblue;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 15, 15);
    font-family: "Bebas Neue", sans-serif;
    font-size: 15pt;
    overflow-x: hidden;
    padding: 0px 90px;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(109, 0, 0);
    border-radius: 15px;
}

.h1center {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jadson-stanley-animation {
    transition: animation 1s linear;
    animation: animarnome 1s linear;
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@keyframes animarnome {
    0% {
        color: aliceblue;
        top: -100px;
    }

    100% {
        top: 0;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.menu-ul {
    display: flex;
    gap: 30px;
}

.menu-link:hover {
    color: red;
    transition: 0.2s linear;
}

.txt-inicio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20pt;
    width: 500px;
}

section {
    padding: 50px 0px;
}

.section-inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h3-style {
    color: rgba(240, 248, 255, 0.514);
}

.p-style {
    font-family: arial;
    font-size: medium;
}

.baixarcurriculo {
    font-style: italic;
}

.baixarcurriculobotao {
    width: 300px;
    font-size: 1.5cap;
    border: none;
    background-color: rgba(76, 76, 76, 0.073);
    padding: 10px 0px;
    transform: skewX(-20deg);
}

.baixarcurriculobotao:hover {
    background-color: rgba(255, 0, 0, 0.142);
    transition: 0.2s linear;
}

.h1-style {
    color: transparent;
    position: relative;
    text-transform: uppercase;
    font-size: 50pt;
    background: linear-gradient(45deg,
            rgb(255, 134, 134), rgb(255, 93, 93), rgb(255, 61, 61), rgb(255, 42, 42), rgb(255, 29, 29),
            rgb(255, 29, 29), rgb(255, 42, 42), rgb(255, 61, 61), rgb(255, 93, 93), rgb(255, 134, 134));
    -webkit-background-clip: text;
    background-size: 400% 100%;
    animation: cores 12s linear infinite;
}

.textostransparentes {
    position: absolute;
    z-index: -1;
    opacity: 11%;
}

.projetos-titulo-style {
    color: transparent;
    position: relative;
    text-transform: uppercase;
    font-size: 30pt;
    background: linear-gradient(45deg,
            rgb(255, 134, 134), rgb(255, 93, 93), rgb(255, 61, 61), rgb(255, 42, 42), rgb(255, 29, 29),
            rgb(255, 29, 29), rgb(255, 42, 42), rgb(255, 61, 61), rgb(255, 93, 93), rgb(255, 134, 134));
    -webkit-background-clip: text;
    background-size: 400% 100%;
    animation: cores 12s linear infinite;
}

@keyframes cores {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.center {
    display: flex;
    justify-content: center;
    transform: skewX(-20deg);
}

.fundotitulos {
    width: 350px;
    background-color: rgba(76, 76, 76, 0.105);
}

.foto-div {
    width: 350px;
    height: 350px;
    background-color: rgb(189, 149, 103);
    border-radius: 10%;
    image-rendering: optimizeQuality;
    background-size: cover;
}

.luz-foto-div {
    display: flex;
    align-items: center;
}

.luz-foto-div::before {
    content: '';
    background-color: rgba(255, 0, 0, 0.473);
    width: 650px;
    height: 650px;
    position: absolute;
    z-index: -1;
    filter: blur(200px);
    border-radius: 50%;
}

.section-projetos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 70px 30px;
    flex-direction: column;
}

.projetos-titulo-div {
    text-align: center;
}

.projetos-img {
    width: 700px;
    border-radius: 20px;
    margin: 10px 0;
}

.projetos-img:hover {
    filter: brightness(2);
}

.projetos-txt-div {
    text-align: center;
    align-items: center;
}

.ProjetosOrg {
    align-items: center;
}

.luz-projetos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.luz-projetos::before {
    content: '';
    position: absolute;
    width: calc(700px + 20px);
    height: calc(300px + 20px);
    background-color: transparent;
    z-index: -1;
    border-radius: 30%;
}

.luz-projetos:hover::before {
    content: '';
    background-color: rgba(255, 0, 0, 0.281);
    filter: blur(90px);
    transition: 0.5s linear;
}

.buttonstyle {
    width: 150px;
    height: 40px;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(37, 37, 37);
    border-style: solid;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.4cap;
    margin: 30px;
}

.buttonstyle:hover {
    background-color: rgba(128, 0, 0, 0.356);
}

.section-sobremim {
    display: flex;
    gap: 15px;
}

.sobremimcaixa {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobremimcaixastyle {
    background-color: rgba(116, 116, 116, 0.137);
    padding: 17px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.sobremim-texto {
    margin: auto;
    display: flex;
}

.textored {
    color: rgb(165, 27, 27);
}

.jadson-foto {
    border-radius: 10%;
}

.habilidades-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(116, 116, 116, 0.137);
    padding: 0 15px;
    border-radius: 5px;
}

.ul-habilidades {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.li-habilidades {

    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
}

.li-habilidades:hover {
    transform: scale(1.02);
}

.habilidades-icons {
    width: 40px;
}

.habilidades-icons:hover {
    transform: scale(1.05);
    filter: brightness(1.3);
}

.mais-habilidades {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.contato-div {
    display: flex;
    justify-content: space-around;
    font-size: smaller
}

.contato-icons {
    width: 20px;
    margin: 0 2px;
}

.li-contato {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

@media (max-width:320px) {
    .section-projetos {
        margin-bottom: 200px;
    }

    body{
        overflow-x: hidden;
    }
}

@media (max-width:800px) {

    body {
        padding: 0 50px;
    }

    .jadson-stanley-animation {
        display: none;
    }

    .txt-inicio {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div {
        max-width: 100%;
        flex-direction: column;
        display: flex;
    }

    img {
        max-width: 100%;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    .menu-ul {
        display: none;
    }

    .luz-foto-div {
        display: none;
    }

    .foto-div {
        display: none;
    }
    
    .sobremimcaixastyle{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mais-habilidades {
        flex-direction: row;
    }

    body {
        overflow-x: hidden;
    }

    .mobile-espaço {
        margin: 15px;
    }

    .section-inicio {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}