* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: aliceblue;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 15, 15);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.h1center {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jadson-stanley-animation {
    transition: animation 1s linear;
    animation: animarnome 1s linear;
    position: relative;
}

@keyframes animarnome {
    0% {
        color: aliceblue;
        top: -100px;
    }

    100% {
        top: 0;
    }
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 400px;
    padding: 10px 0;
}

.menu-ul {
    display: flex;
    gap: 68px;
}

.menu-link:hover {
    color: red;
    transition: 0.2s linear;
}

.section-inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90vh;
    gap: 150px;
}

.h3-style {
    color: rgba(240, 248, 255, 0.473);
}

.h4-style {
    margin-bottom: 10px;
}

.baixarcurriculo {
    font-style: italic;
}

.baixarcurriculo:hover {
    color: red;
    transition: 0.2s linear;
}

.h1-style {
    color: transparent;
    position: relative;
    text-transform: uppercase;
    font-size: 50pt;
    background: linear-gradient(45deg,
            rgb(255, 134, 134), rgb(255, 93, 93), rgb(255, 61, 61), rgb(255, 42, 42), rgb(255, 29, 29),
            rgb(255, 29, 29), rgb(255, 42, 42), rgb(255, 61, 61), rgb(255, 93, 93), rgb(255, 134, 134));
    -webkit-background-clip: text;
    background-size: 400% 100%;
    animation: cores 12s linear infinite;
}

@keyframes cores {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position: 400%;
    }
}


.luz-foto-div {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.luz-foto-div::before {
    content: '';
    background-color: rgba(255, 0, 0, 0.226);
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: -1;
    filter: blur(100px);
    border-radius: 50%;
}

.foto-div {
    width: 450px;
    height: 450px;
    background-color: rgb(189, 149, 103);
    border-radius: 10px;
}

.section-projetos {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
}

.god-img {
    width: 700px;
    height: 400px;
    border-radius: 10px;
}

.luz-projetos {
    display: flex;
    align-items: center;
    justify-content: center;

}

.luz-projetos::before {
    content: '';
    position: absolute;
    width: calc(700px + 20px);
    height: calc(300px + 20px);
    background-color: transparent;
    z-index: -1;
    border-radius: 30%;
}

.luz-projetos:hover::before {
    content: '';
    background-color: rgba(255, 0, 0, 0.281);
    filter: blur(90px);
    transition: 0.5s linear;
}

.god-img:hover {
    filter: brightness(2);
}

.jadson-foto {
    width: 300px;
    height: 300px;
    background-color: rgb(189, 149, 103);
    border-radius: 10px;
    margin: auto;

}

.sobremim-texto {
    width: 900px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habilidades-div {
    width: 900px;
    margin: 20px auto;
}

.ul-habilidades{
    display: flex;
    gap: 10px;
}

.li-habilidades {
    background-color: gray;
    padding: 0 6px;
    border-radius: 5px;
    color: black;
}

.habilidades-icons{
    width: 50px;  
}

.mais-habilidades{
  margin: 10px auto;
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.section-contato{
    margin-top: 100px;
}
.contato-div{
    display: flex;
    justify-content: space-around;
    background-color: rgba(26, 26, 26, 0.644);
    padding: 50px;
}

.contato-icons{
    width: 20px;
    margin: 0 2px;
}

.li-contato{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

footer{
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  background-color: rgba(255, 0, 0, 0.075);
}